body {
  margin: 0;
  background: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#title {
  font-family: Karla;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 5px;
}

#title-highlight {
  color: #55f991;
  display: block;
}

#title-caption {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  color: #d5d4d8;
  margin-top: 5px;
  letter-spacing: 1px;
}

.generate-btn {
  background: #10b981;
  box-shadow: 0px 1px 2px 0px #0000000d;
  border: none;
  border-radius: 6px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 9px 15px;
  color: #ffffff;
  margin-top: 40px;
  cursor: pointer;
}

.generate-btn:hover {
  filter: brightness(90%);
}

#divider {
  border: 1px solid #2f3e53;
  margin-block: 35px;
}

.password-fields-container {
  display: flex;
  gap: 24px;
}

.password-fields {
  background: #273549;
  border-radius: 6px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #55f991;
  padding: 20px;
  margin-block: 0;
  width: 180px;
  word-wrap: break-word;
}
